.header__lang-link-ru{
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 117%;
  color: #FFFFFF;
  text-decoration-line: underline;
  transition: 0.5s linear;
  font-weight: normal;
}

.header__lang-link-ru:hover{
  text-decoration-line: underline;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link-ru{
    font-size: 18px;
    line-height: 111%;
  }
}
