.places__place{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 80px;
  padding: 0;
  max-width: calc(100% - 296px);
  min-width: 984px;
  justify-content: center;
}

.places__place:last-child{
  margin: 0 auto 0;
}

@media screen and (max-width: 1279px) {
  .places__place{
    margin: 0 auto 80px;
    max-width: calc(100% - 96px);
    min-width: 928px;
  }

  .places__place:last-child{
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 1023px) {
  .places__place{
    margin: 0 auto 73px;
    max-width: calc(100% - 48px);
    min-width: 720px;
  }

  .places__place:last-child{
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .places__place{
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px;
    min-width: 320px;
  }

  .places__place:last-child{
    margin: 0;
  }
}
