.footer__content{
  display: flex;
  justify-content: space-between;
  margin: 0 48px;
  padding: 0;
  max-height: 18px;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .footer__content{
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer__content{
    margin: 0;
    margin-left: 16px;
    flex-direction: column;
    max-height: 100%;
  }
}
