.header__lang-links{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 77px;
  height: 28px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__lang-links{
    width: 62px;
    height: 22px;
  }
}
