.places__grid{
  margin: 0 auto;
  padding: 0 0 92px;
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .places__grid{
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .places__grid{
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
    padding: 0 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .places__grid{
    max-width: calc(100vw - 32px);
    grid-template-columns: repeat(auto-fit, minmax(calc(100vw - 32px), 1fr));
    gap: 12px;
    padding: 0 0 64px;
  }
}
